/* 设置全局样式，清除默认的margin和padding */
* {
  margin: 0;
  padding: 0;
}

/* 图片轮播容器的样式 */
.slideshow-container {
  max-width: 100%; /* 最大宽度100% */
  position: relative; /* 相对定位 */
  margin-top: 66px; /* 顶部距离 */
  margin: auto; /* 左右自动居中 */
}

.mySlides {
  display: none; /* 初始时隐藏所有幻灯片 */
}

/* 前后切换按钮的样式 */
.prev,
.next {
  cursor: pointer; /* 鼠标悬停时显示手型光标 */
  position: absolute; /* 绝对定位 */
  top: 50%; /* 顶部距离50% */
  width: auto; /* 宽度自适应内容 */
  padding: 16px; /* 内边距 */
  margin-top: -22px; /* 负边距使按钮上下垂直居中 */
  color: white; /* 文字颜色 */
  font-weight: bold; /* 字体加粗 */
  font-size: 18px; /* 字体大小 */
  transition: 0.6s ease; /* 平滑过渡效果 */
  border-radius: 0 3px 3px 0; /* 边框圆角 */
}

.next {
  right: 0; /* 右侧定位 */
  border-radius: 3px 0 0 3px; /* 右侧圆角 */
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 鼠标悬停时的背景颜色 */
}

/* 文本样式 */
.text {
  color: #f2f2f2; /* 文本颜色 */
  font-size: 16px; /* 字体大小 */
  padding: 8px 12px; /* 内边距 */
  position: absolute; /* 绝对定位 */
  bottom: 8px; /* 底部距离 */
  width: 100%; /* 宽度100% */
  text-align: center; /* 文本居中 */
  font-weight: bold; /* 字体加粗 */
}

.numbertext {
  color: #f2f2f2; /* 文本颜色 */
  font-size: 12px; /* 字体大小 */
  padding: 8px 12px; /* 内边距 */
  position: absolute; /* 绝对定位 */
  top: 0; /* 顶部距离 */
}

/* 下载按钮的样式 */
.download-btn {
  position: absolute; /* 绝对定位 */
  bottom: 10px; /* 底部距离 */
  right: 10px; /* 右侧距离 */
  background-color: #4caf50; /* 背景颜色 */
  color: white; /* 文字颜色 */
  padding: 10px 20px; /* 内边距 */
  font-size: 16px; /* 字体大小 */
  border-radius: 5px; /* 边框圆角 */
  border: none; /* 无边框 */
}
.goBack-btn {
  position: absolute; /* 绝对定位 */
  bottom: 10px; /* 底部距离 */
  left: 10px; /* 左侧距离 */
  background-color: #4caf50; /* 背景颜色 */
  color: white; /* 文字颜色 */
  padding: 10px 20px; /* 内边距 */
  font-size: 16px; /* 字体大小 */
  border-radius: 5px; /* 边框圆角 */
  border: none; /* 无边框 */
}
