/* 隐藏垂直滚动条 */
body {
  overflow-y: scroll;
}
/* flex布局 */
.flex {
  display: flex;
}
/* 占满比例 */
.flex1 {
  flex: 1;
}
/* 竖向 */
.column {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: center; /* 水平居中对齐子元素 */
  justify-content: space-around; /* 子元素之间平均分布空间 */
  padding: 20px;
}
/* 阴影 */
.shadow {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
/* 白色背景 */
.white {
  background-color: #fff;
}
/* 上下左右外边距 */

.mg8 {
  margin: 8px;
}
/* 边框圆角 */
.fillet {
  border-radius: 15px;
}
/* 分辨率小于600px */
.img-responsive {
  width: 100%;
  height: auto;
}
@media (max-width: 1017px) {
  .neirong {

    width: 100%;
  }
  /* 上边距 */
  .t-margin {
    margin-top: 15px;
  }


  .tupian {
    margin-top: 45px;
    height: 300px;
    width: 100%;
  }
}
/* 分辨率大于600px */
@media (min-width: 1017px) {
  .neirong {

    width: 100%;
  }



  /* 上边距 */
  .t-margin {
    margin-top: 20px;
  }

  .tupian {
    height: 800px;
    width: 100%;
  }
}
