html,
body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("https://bpic.588ku.com/back_origin_min_pic/19/04/16/5a6a50989dc06dbd4c21ed72d6b6b6eb.jpg")
    fixed no-repeat;
  background-size: cover;
}
.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.yinYin {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.baiSe {
  background-color: white;
}

.div_foot {
  min-height: 10px;
  position: absolute;
  height: 50px;
  text-align: center;
  line-height: 50px;
  width: 100%;
}
